@using System.Web.Optimization
@{
    ViewBag.Title = EvaluateModule.DisplayName;
    ViewBag.SubTitle = "评价列表";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var sourceType = ViewBag.SourceType;
    var sourceId = ViewBag.SourceId;
}
<div class="row">
    <div class="col-sm-12" id="EvaluateList">
    </div>
</div>
<div id="pageDiv">
</div>
@section Scripts {
    @Scripts.Render("~/js/admin/jquery-nestable")
    <script type="text/javascript">
       
        var url_loadPage = "@Url.Action("ListOnPage", "Admin", new {area = EvaluateModule.Area, sourceType, sourceId})";
        var url_deleteEvaluate = "@Url.Action("Delete", "Admin", new {area = EvaluateModule.Area})";

    </script>
    @Scripts.Render("~/js/admin/evaluate/list")
}
