@charset "utf-8";
/* CSS Document */
*{
    padding: 0;
    margin: 0;
}
.f-cb {
    zoom: 1;
}
.f-cb:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    content: ".";
}
.addrbox{
    width: 640px;
    left:50%;
    margin-left: 20px;
    top:200px;
    background: #fff;
    z-index:99;
}
.addrbox .tit{
    padding-left: 15px;
    height: 40px;
    line-height:40px;
    font-size: 18px;
    color: #fff;
    background: #428fb9;
    position: relative;
}
.addrbox .close{
    position: absolute;
    top:10px;
    right:10px;
    width: 20px;
    height: 20px;
    background: url("/Modules/BntWeb.Logistics/Content//Image/close.png") no-repeat;
}
.addrbox .content{
    padding: 20px;
}
.addrbox .btnck{
    float: left;
    margin-right: 30px;
}
.addrbox .list{
    float: left;
    width: 500px;
}
.addrbox li{
    list-style: none outside none;
    cursor: pointer;
    float: left;
    margin-right: 5px;
    padding-right: 10px;
    background: url("/Modules/BntWeb.Logistics/Content/Image/san.png") no-repeat right center;
    position: relative;
}
.addrbox .box{
    width: 235px;
    padding: 10px 45px 40px 5px;
    position: absolute;
    border:1px solid #e0e0e0;
    background: #fff;
    display: none;
    z-index:25;
}
.addrbox .box.db{
    display: block;
}
.fl{
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}
.addrbox .closebox{
    text-decoration:none;
    width: 40px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height:20px;
    background: #428fb9;
    border-radius: 3px;
    position: absolute;
    right:5px;
    bottom: 5px;
}
a{
    color: #428bca;
}