@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        此程序未在本服务器授权，请联系博采网络客服
    </div>
</body>
</html>
