<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    </configSections>

    <autofac defaultAssembly="BntWeb.Framework">
        <components>
            <!--<component instance-scope="single-instance" type="BntWeb.Localization.Services.CultureDateTimeFormatProvider, BntWeb.Framework" service="BntWeb.Localization.Services.IDateTimeFormatProvider"></component>
            <component instance-scope="single-instance" type="BntWeb.Environment.ApplicationEnvironment, BntWeb.Framework" service="BntWeb.Environment.IApplicationEnvironment, BntWeb.Framework"></component>-->
        </components>
    </autofac>

</configuration>