<?xml version="1.0" encoding="utf-8" ?>
<HostComponents>
  <Components>
    <!-- 防止暴力访问 -->
    <Component Type="BntWeb.Security.RequestLimitFilter">
      <Properties>
        <!-- 是否开启 -->
        <Property Name="Enabled" Value="true"/>
        <!-- 同一个IP每分钟最多访问次数 -->
        <Property Name="Maximum" Value="60"/>
      </Properties>
    </Component>

    <!-- 邮件发送服务 -->
    <Component Type="BntWeb.Services.EmailService">
      <Properties>
        <!-- SMTP服务器 -->
        <Property Name="SmtpServer" Value="XXXXXX"/>
        <!-- SMTP服务器端口 -->
        <Property Name="Port" Value="25"/>
        <!-- 发邮件账号地址 -->
        <Property Name="FromEmail" Value="XXXXXX"/>
        <!-- 发邮件账号 -->
        <Property Name="UserName" Value="XXXXXX"/>
        <!-- 发邮件账号密码 -->
        <Property Name="Password" Value="XXXXXX"/>
        <!-- 对邮件内容进行socket层加密传输 -->
        <Property Name="SslEnable" Value="false"/>
        <!-- 对发件人邮箱进行密码验证 -->
        <Property Name="PwdCheckEnable" Value="false"/>
      </Properties>
    </Component>

    <!-- 短信发送服务 -->
    <Component Type="BntWeb.Core.SystemSettings.Services.DefaultSmsService">
      <Properties>
        <!-- 测试模式 -->
        <Property Name="Debug" Value="true"/>
        <!-- 短信服务器地址、账号、密码 -->
        <Property Name="HostUrl" Value="http://send.18sms.com/msg"/>
        <Property Name="Account" Value="XXXXXX"/>
        <Property Name="Password" Value="XXXXXX"/>
        <!-- 同一类型同一手机短信发送间隔（分钟），防止恶意刷短信接口 -->
        <Property Name="Interval" Value="1"/>
        <!-- 验证码类短信中验证码的有效时间（分钟） -->
        <Property Name="EffectiveTime" Value="5"/>
      </Properties>
    </Component>

    <!-- 极光推送服务 -->
    <Component Type="BntWeb.Core.SystemSettings.Services.DefaultPushService">
      <Properties>
        <Property Name="AppKey" Value="XXXXXX"/>
        <Property Name="MasterSecret" Value="XXXXXX"/>
        <!--ApnsProduction：false开发环境，true生产环境-->
        <Property Name="ApnsProduction" Value="false"/>
      </Properties>
    </Component>

    <!-- 文件服务 -->
    <Component Type="BntWeb.Core.SystemSettings.Services.FileService">
      <Properties>
        <!-- 中等缩略图宽度 -->
        <Property Name="MediumThumbnailWidth" Value="720"/>
        <!-- 中等缩略图高度，填0则高度按宽度自动等比例计算，不填0则等比例缩放后白底填充-->
        <Property Name="MediumThumbnailHeight" Value="0"/>
        <!-- 小缩略图宽度 -->
        <Property Name="SmallThumbnailWidth" Value="320"/>
        <!-- 小缩略图高度，填0则高度按宽度自动等比例计算，不填0则等比例缩放后白底填充-->
        <Property Name="SmallThumbnailHeight" Value="0"/>
      </Properties>
    </Component>

  </Components>
</HostComponents>
