<?xml version="1.0" encoding="utf-8"?>
<Menus>
  <Menu Key="BntWeb-Dashboard" Text="控制台" Class="icon-dashboard"></Menu>
  <Menu Text="活动管理" Class="icon-beer">
    <Menu Key="BntWeb-Activity-TypesList" Text="活动类别" Class=""></Menu>
    <Menu Key="BntWeb-Activity-ActivitysList" Text="活动列表" Class=""></Menu>
    <Menu Key="BntWeb-Activity-TagsList" Text="活动标签" Class=""></Menu>
  </Menu>
  <Menu Key="BntWeb-Topic-TopicsList" Text="话题管理" Class="icon-comments"></Menu>
  <Menu Text="商家管理" Class="icon-food">
    <Menu Key="BntWeb-Merchant-TypesList" Text="商家分类" Class=""></Menu>
    <Menu Key="BntWeb-Merchant-MerchantsList" Text="商家列表" Class=""></Menu>
  </Menu>
  <Menu Text="资讯管理" Class="icon-book">
    <Menu Key="BntWeb-Article-CategoriesList" Text="资讯分类" Class=""></Menu>
    <Menu Key="BntWeb-Article-List" Text="资讯列表" Class=""></Menu>
  </Menu>
  <Menu Text="内容管理" Class="icon-file-alt">
    <Menu Key="BntWeb-Discovery-List" Text="发现管理" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-01" Text="关于我们" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-02" Text="法律条款" Class=""></Menu>
    <Menu Key="BntWeb-SinglePage-03" Text="注册协议" Class=""></Menu>
  </Menu>
  <Menu Text="商城管理" Class="icon-shopping-cart">
    <Menu Key="BntWeb-Mall-GoodsTypeList" Text="商品类型" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GoodsBrandList" Text="品牌管理" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GoodsCategoryList" Text="商品分类" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GoodsList" Text="商品列表" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GoodsRecycleList" Text="商品回收" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GoodsShortageList" Text="缺货商品" Class=""></Menu>
    <Menu Key="BntWeb-Mall-TagsList" Text="商品标签" Class=""></Menu>
    <Menu Key="BntWeb-OrderProcess-OrdersList" Text="订单列表" Class=""></Menu>
    <Menu Key="BntWeb-OrderProcess-RefundList" Text="订单退款" Class=""></Menu>
    <Menu Key="BntWeb-OrderProcess-ReminderList" Text="催发货" Class=""></Menu>
    <Menu Key="BntWeb-LimitBuy-LimitSingleGoodsList" Text="秒杀商品列表" Class=""></Menu>
    <Menu Key="BntWeb-Mall-GroupGoodsList" Text="团购列表" Class=""></Menu>
  </Menu>
  <Menu Key="BntWeb-Carousel-CarouselsList" Text="轮播管理" Class="icon-magic"></Menu>
  <Menu Key="BntWeb-Advertisement-AdvertisementsList" Text="广告管理" Class="icon-barcode"></Menu>
  <Menu Key="BntWeb-PromotionChannel-ChannelsList" Text="推广渠道" Class="icon-sitemap"></Menu>
  <Menu Text="帮助中心" Class="icon-lightbulb">
    <Menu Key="BntWeb-HelpCenter-HelpCategoriesList" Text="帮助类别" Class=""></Menu>
    <Menu Key="BntWeb-HelpCenter-HelpsList" Text="帮助列表" Class=""></Menu>
  </Menu>
  <Menu Text="财务管理" Class="icon-money">
    <Menu Key="BntWeb-Wallet-CrashApplyList" Text="提现申请" Class=""></Menu>
    <Menu Key="BntWeb-PaymentProcess-PaymentsList" Text="支付方式" Class=""></Menu>
  </Menu>
  <Menu Text="物流管理" Class="icon-truck">
    <Menu Key="BntWeb-Logistics-ShippingList" Text="配送方式" Class=""></Menu>
    <Menu Key="BntWeb-Logistics-ShippingAreaList" Text="配送区域" Class=""></Menu>
  </Menu>
  <Menu  Text="统计报表" Class="icon-bar-chart">
    <Menu Key="BntWeb-Dashboard-OrderList" Text="订单统计" Class="icon-bar-chart"></Menu>
    <Menu Key="BntWeb-Dashboard-MemberList" Text="会员统计" Class="icon-bar-chart"></Menu>

  </Menu>
  <Menu Key="BntWeb-MemberCenter-MembersList" Text="会员管理" Class="icon-group"></Menu>
  <Menu Text="后台用户" Class="icon-user">
    <Menu Key="Core-SystemUsers-CreateUser" Text="新建用户" Class=""></Menu>
    <Menu Key="Core-SystemUsers-UsersList" Text="用户列表" Class=""></Menu>
    <Menu Key="Core-SystemUsers-RolesList" Text="用户角色" Class=""></Menu>
  </Menu>
  <Menu Text="配置管理" Class="icon-wrench">
    <Menu Key="BntWeb-Config-WeiXinConfig" Text="微信配置" Class=""></Menu>
    <!--<Menu Key="BntWeb-Config-AlipayConfig" Text="支付宝配置" Class=""></Menu>-->
    <Menu Key="BntWeb-Config-SystemConfig" Text="系统配置" Class=""></Menu>
  </Menu>
  <Menu Text="系统管理" Class="icon-cogs">
    <Menu Key="Core-SystemSettings-SoftReleasesList" Text="软件版本" Class=""></Menu>
    <Menu Key="Core-SystemSettings-FilesList" Text="文件资源" Class=""></Menu>
    <Menu Key="Core-SystemSettings-SmsList" Text="短信日志" Class=""></Menu>
    <Menu Key="Core-SystemSettings-LogsList" Text="日志管理" Class=""></Menu>
    <Menu Key="Core-SystemSettings-District" Text="行政区" Class=""></Menu>
    <Menu Key="Core-SystemSettings-DbBackup" Text="数据库备份" Class=""></Menu>
  </Menu>
</Menus>
